---
const blogTitle = "My Blog"
---

<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{blogTitle}</title>
    </head>

    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
       
    
        <h1>{blogTitle}</h1>
    
        <h2>My first blog post</h2>
        <div class="wrapper-img">
        </div>
        <img src="/me.jpg" alt="my photo" />
    
        <p>Today I started my first blog post. I'm excited to share my thoughts with the world!</p>
    
        <ul>
            <li><a href="/posts/post-1">check Blog</a></li>
            <li><a href="/posts/post-2">check Blog</a></li>
            <li><a href="/posts/post-3">check Blog</a></li>
        </ul>
    </body>
</html>


<style>
    img {
    max-width: 100%;
    /* max-width: 250px; */
    /* width: 100%; */
    height: auto;
    max-height: 400px;
    border-radius: 10px;
    object-fit: cover;
    }

    @media all and (max-width: 480px) {
        img{
            width:100%;
            max-height: 300px;
        }
    }
</style>